* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  background-color: #e0e0e0;
  position: relative;
}

.Header-Div,
.Footer-Div {
  background-color: rosybrown;
  position: sticky;
}

.Header-Div {
  top: 0;
}

.Footer-Div {
  bottom: 0;
}

.login-link {
  margin-right: 2%;
  font-weight: 600px;
  color: black;
  text-decoration: none;
}

#copywright {
  font-size: 10px;
  margin-bottom: 0%;
}

.contact-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
  margin-left: 1%;
}

footer {
  height: 2.6rem;
  margin-top: 1rem;
  padding-left: 1rem;
}

.container {
  padding: 0;
}

.logo-img {
    width: 60px;
    height: 60px;
    margin: 0 1%;
}

.social-media-imgs {
    max-width: 22px;
    height: 20px;
    margin-right: 2%;
}

.social-media-imgs a:link {
  margin-right: 0.2rem;
}

.social-media-imgs a:link:last-child {
  margin-right: 0;
}

.hotel-img {
  margin-right: 4%;
  width: 100rem;
  height: 100rem;
}

.hotel-img-div {
  margin-top: 2.4rem;
}

.login-form {
    width: 40%;
  }

  .login-btn:hover {
    background-color: #eee;
  }

  .btn-info {
    width: 11%;
    height: 75%;
  }